{% extends "layout/base.html" %}

{% block content %}
<h2>
 Страница авторизованного пользователя {{request.user.username}}
</h2>

<div>
 Здесь может содержаться персональная информация для каждого пользователя
<div>

  
{% if is_not_author %}
  <a class="btn btn-info" href="{% url 'NewsPaper:upgrade' %}">Хочу стать автором!</a>
{% else %}
<h3>Вы в группе "Авторы"</h3>
{% endif %}

{% if is_not_subscriber %}
  <a class="btn btn-info" href="{% url 'NewsPaper:subscribe' %}">Подписаться на рассылки!</a>
{% else %}
  <h3>Вы подписаты на рыссылку.</h3>
{% endif %}
{% endblock content %}