{% extends "layout/base.html" %}

{% block content %}
<h2>
 Страница авторизованного пользователя {{request.user.username}}
</h2>

<div>
 <p>Здесь может содержаться персональная информация для каждого пользователя</p>
<div>


{% if is_not_subscriber %}
  <a class="btn btn-info" href="{#% url 'NewsPaper:subscribe_me' %#}">Подписаться на рассылки!</a>
{% else %}
  <h3>Вы подписаты на рыссылку.</h3>
{% endif %}
  
{% if is_not_author %}
  <a class="btn btn-info" href="{% url 'NewsPaper:upgrade' %}">Хочу стать автором!</a>
{% else %}
<h3>Группа: "Авторы"</h3>
{% endif %}

<h2>
  Постов созданных сегодня: {{posts_on_this_day}} из 3
</h2>

{% if subscribed %}
  <div id="categories-prifile">
    <h3>Категории на которые вы подписаны:</h3>
  {% for category in categories %}
    <a class="categories btn news-category-btn" href="{% url 'NewsPaper:category_unsubscribe' category.category.pk %}"><h4>{{category.category}}</h4></a>
  {% endfor %}
  </div>
{% else %}
{% endif %}

{% endblock content %}