<!--  наследуемся от шаблона base.html -->
{% extends 'layout/base.html' %}
<!-- Название у нас будет proudcts -->
{% block title %}
Новости
{% endblock title %}
<!-- В контенте на странице мы выводим сам продукт, первичный ключ которого был передан в адрес -->
{% block content %}
  <h1 class="news">Новости</h1>
  {% if allNews %}

  <h3>Всего статей: {{ allNews|length }}</h3>

    <table class="table">
      <tr>
        <td>
          <strong>Заголовок</strong>
        </td>
        <td>
          <strong>Дата публикации</strong>
        </td>
        <td>
          <strong>Описание</strong>
        </td>
        <td>
          <strong>Категория</strong>
        </td>
        <td>
          <strong>Рейтинг</strong>
        </td>
      </tr>
    {% for news in allNews %}
      <tr>
        <td>
          <a href="{{news.id}}">{{ news.title }}</a>
        </td>
        <td>
          {{ news.time_in|date:'M d Y' }}
        </td>
        <td>
          {{ news.text|truncatechars:50 }}
        </td>
        <td>
          {% for category in news.category.all %}
          <a href="">{{category}}</a>
          {% endfor %}
        </td>
        <td>
          {{ news.post_rating }}
        </td>
      </tr>
    {% endfor%}
    </table>
  {% else %}
    <h2>Новостей нет!</h2>
  {% endif %}
{% endblock content %}