.news {
  display: flex;
  justify-content: center;
}
.news_title_time {
  display: flex;
  justify-content: center;
}
.news_title {
  width: 100%;
}
.news_text {
  margin-top: 30px;
  padding-left: 10px;
  background-color: rgb(235, 231, 226);
}
.news_category {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}
.news_ul {
  display: flex;
  justify-content: space-between;
}
.news-category-btn {
  border: 2px solid #424242;
  margin-right: 3px;
}
.confirmation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
  flex-wrap: wrap;
}
.confirmation-title {
  width: 100%;
  display: flex;
  justify-content: center;
}
.confirmation-btns {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 12vh;
}
#btn-post, #postform-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
#postform-category-field, #postform-text-field, #postform-title-field {
  margin-top: 10px;
}
#delete_news_category {
  color:rgb(255, 0, 0)
}
#logout {
  margin: 0;
  margin-left: 30px;
  margin-bottom: 4px;
}
#header-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#premium-btn {
  margin-right: 20px;
}

