.news {
  display: flex;
  justify-content: center;
}
.news_title_time {
  display: flex;
  justify-content: center;
}
.news_title {
  width: 100%;
}
.news_text {
  margin-top: 30px;
  padding-left: 10px;
  background-color: rgb(235, 231, 226);
}
#btn-post, #postform-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}
#postform-category-field, #postform-text-field, #postform-title-field {
  margin-top: 10px;
}
#delete_news_category {
  color:rgb(255, 0, 0)
}